h2{
    text-align: center;
    text-size-adjust: 15px;
    color: darkgreen;
}
body{
    background-image: url("img_1.png");
    text-align: center;
    background-size: cover;
    background-position: top;
    color: darkred;
}

